/**
 * Purmirl web design study project by PeTrA.
 * @ https://purmirl.github.io
 */

/**
 * reference : https://code-daniel.tistory.com/75
 */
 body{
 	font-family: 'Source Sans Pro';
 	background: red;
 	margin: 0;
 	color: white;
 }

 a{
 	text-decoration: none;
 	color: red;
 	font-size: 1.8em;
 	font-stretch: 700;
 }

 img{
 	width: 150px;
 }

 header{
 	background: #FFFFFF;
 	padding: 1em;
 }

.container{
	display: grid;
	grid-template-columns: 66% auto;
	padding: 4em 1em;
}

footer{
	background: #571212;
}

ul{
	margin: 0;
	padding: 0;
}

ul li{
	padding: 2em;
	color: #F98A8A;
}

ul li span{
	display: block;
	font-stretch: 1.4em;
	margin: : 1em;
	color: white;
}
